<nav>
    <!-- nav บน -->
    <div class="bg-primary text-white px-10 py-7 flex justify-between items-center">
      <h1 class="text-3xl font-bold max-lg:text-center max-lg:w-full"> - KEYLAB - </h1>
        <div class="flex justify-between items-center">
          <div class="">
            <h1 class="mx-5 text-xl max-lg:hidden"> THAI (THB $)</h1>
          </div>
          <div class="mx-5 max-lg:hidden w-[30px]">
            <a href="" class=""><img src="/image/search-icon.png" alt=""></a>
          </div>
          <div class="mx-5 max-lg:hidden w-[30px]">
            <a href="/sendemail" class=""><img src="/image/human-icon.png" alt=""></a>
          </div>
          <div class="mx-5 max-lg:hidden w-[30px] h-[40px]"style="position: relative;">    
            <a href="" class=""><img src="/image/bag-icon.png" alt="" style="position: absolute;">
              <span style="position: absolute;top: -20px;left: 97%;font-size: 20px;" class="text-center text-orange-400 ">0</span>
            </a>
          </div>
        </div>
    </div>
    
    <!-- nav ล่าง -->
    <div class="bg-primary text-white px-10 pb-4 ">
      <!-- menu ปกติ -->
      <div class="max-lg:hidden">
        <a href="" class="ms-65 text-lg mb-5  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">Menuitem</a>
        <a href="" class="ms-10 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">MenuItem1</a>
        <a href="" class="ms-10 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">MenuItem</a>
        <a href="" class="ms-10 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">MenuItem</a>
        <a href="" class="ms-10 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">MenuItem</a>   
        <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="200" data-dropdown-trigger="hover" class="max-xl:ms-2 ms-10 mb-1 text-white hover:bg-primary focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary dark:focus:ring-black" type="button">Dropdown hover <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
          </button>
        <button id="dropdownDelayButton1" data-dropdown-toggle="dropdownDelay1" data-dropdown-delay="200" data-dropdown-trigger="hover" class="max-xl:ms-2 ms-10 mb-1 text-white hover:bg-primary focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary dark:focus:ring-black" type="button">Dropdown hover <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
          </button>
      </div>
        
        
        
        <!-- menu ตอนจอเล็ก -->
        <div class="flex justify-between">
          <button class="lg:hidden"><img src="/image/menu-icon.png" alt="" class="w-[8vw]"></button>
          <div class="flex items-center">
            <h1 class="mx-5 lg:text-xl lg:hidden max-lg:text-[2.5vw]"> THAI (THB $)</h1>
            <a href="" class="mx-5 lg:hidden max-lg:w-[8vw]"><img src="/image/search-icon.png" alt=""></a>
            <a a href="" class="mx-5 lg:hidden max-lg:w-[8vw]"><img src="/image/human-icon.png" alt=""></a>
            <a href="" class="mx-5 lg:hidden max-lg:w-[8vw]"><img src="/image/bag-icon.png" alt=""></a>
          </div>
        </div>
    </div>
  </nav>
  <!-- Dropdown menu 'เมนู dropdown'-->
  <div id="dropdownDelay" class="z-10 hidden bg-primary divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-primary ">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
</div>
<div id="dropdownDelay1" class="z-10 hidden bg-primary divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-primary ">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hello</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
    </li>
  </ul>
</div>
<!-- end nav -->