<nav>
    <!-- nav บน -->
    <div class="bg-primary text-white px-10 py-7 flex justify-between items-center">
      <a href="/">
        <h1 class="text-3xl font-bold max-lg:text-center max-lg:w-full"> - KEYLAB - </h1>
      </a>
      <div class="flex justify-between items-center">
        <div class="mx-5 max-lg:hidden w-[30px]">
          <a href="/enterEmail" class=""><img src="/image/human-icon.png" alt=""></a>
        </div>
        <div class="mx-5 max-lg:hidden w-[30px] h-[40px]" style="position: relative;">
          <a href="/cart" class=""><img src="/image/bag-icon.png" alt="" style="position: absolute;">
            <span style="position: absolute;top: -20px;left: 97%;font-size: 20px;"
              class="text-center text-orange-400 ">0</span>
          </a>
        </div>
      </div>
    </div>
  
    <!-- nav ล่าง -->
    <div class="bg-primary text-white px-10 pb-4 ">
      <!-- menu ปกติ -->
      <div class="max-lg:hidden">
        <a href="/products" class="ms-65 text-lg mb-5  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">Shop</a>
        <a href="/user" class="ms-20 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">Profile & Orders</a>
        <a href="/products" class="ms-20 text-lg mb-10  px-2 py-1 hover:text-yellow-300 duration-300 max-xl:ms-2">Wishlist</a>
        
      </div>
  
  
  
      <!-- menu ตอนจอเล็ก -->
      <div class="flex justify-between">
        <button class="lg:hidden"><img src="/image/menu-icon.png" alt="" class="w-[8vw]"></button>
        <div class="flex items-center">
          <a a href="" class="mx-5 lg:hidden max-lg:w-[8vw]"><img src="/image/human-icon.png" alt=""></a>
          <a href="/cart" class="mx-5 lg:hidden max-lg:w-[8vw]"><img src="/image/bag-icon.png" alt=""></a>
        </div>
      </div>
    </div>
  </nav>