<nav class=" mx-auto flex justify-end">
    <select id="tabDropdown" onchange="switchTab(this.value)"
        class="w-[11%] py-2 text-lg rounded-xl text-center mx-4 bg-primary border-none bg-white">
        <option value="tab1">Keycaps</option>
        <option value="tab2">Switches</option>
        <option value="tab3">Case</option>
        <option value="tab4">PCB</option>
        <option value="tab5">Plate</option>
    </select>
    <select name="" id="" class="w-[11%] py-2 text-lg rounded-xl text-center mx-4 bg-primary border-none bg-white">
        <option value=""> sort by </option>
        <option value="lowtohigh"> Price, low to high </option>
        <option value="hightolow"> Price, high to low </option>
        <option value="atoz"> Title, A-Z </option>
        <option value="ztoa"> Title, Z-A </option>
        <option value="oldtonew"> Date, old to new </option>
        <option value="newtoold"> Date, new to old </option>
    </select>
</nav>