<nav class=" mx-auto flex justify-end">
    <select name="" id="" class="w-[11%] py-2 text-lg rounded-xl text-center mx-8 bg-primary border-none text-white">
        <option value=""> sort by </option>
        <option value="lowtohigh"> Price, low to high </option>
        <option value="hightolow"> Price, high to low </option>
        <option value="atoz"> Title, A-Z </option>
        <option value="ztoa"> Title, Z-A </option>
        <option value="oldtonew"> Date, old to new </option>
        <option value="newtoold"> Date, new to old </option>
    </select>
</nav>