<%- include('partials/headHtml')%>

<body class="bg-black">
    <%- include('partials/nav.ejs')%>

    <div class="flex justify-center items-center mt-20 ">
      <div class="p-20  bg-primary w-[80%] text-center">
        <h1 class="font-bold text-6xl mb-10 text-white"> Welcome to keyLab </h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at, expedita sapiente ut possimus sed eius incidunt voluptatum id repudiandae non mollitia cupiditate culpa, inventore accusamus nostrum beatae tenetur optio nihil quam omnis aspernatur asperiores ab adipisci! Numquam voluptas recusandae sit illum error vero. Eum maiores culpa totam odit, facere quos aliquid? Asperiores facilis, facere eligendi, dolorum iusto doloribus quam enim neque quia vitae maxime voluptas expedita architecto obcaecati quae alias veniam quasi non cupiditate! Tempore explicabo at reiciendis aliquid similique! Ex ipsam magni voluptatem numquam molestias optio voluptate aperiam praesentium ad, illum dolores quaerat delectus doloremque. Neque, possimus quaerat.</p>
    </div>
    </div>
    <h1 class="text-center text-white mt-10" style="font-size: 50px;">แบรน์ที่แนะนำ</h1>
    <div class="grid grid-cols-2 text-white text-center mt-10 pl-20 pr-20 gap-x-32 r">
      <div class="h-[450px] text-6xl wrap ">
        <h3 class="text-white pop" >Agar</h3>
        <img src="/image/agar.jpg" class="img-1 zoom " >
      </div>
      <div class="h-[450px] wrap2 text-6xl ">
        <p class="pop">Manta</p>
        <img src="/image/manta.webp" class="img-2 zoom">
      </div>
      <div class="h-[450px]">
        <p>3</p>
      </div>
      <div class="h-[450px]">
        <p>4</p>
      </div>
    </div>
    
      
</body>
<%- include('partials/footHtml.ejs')%>