<%- include('partials/headHtml')%>

<body class="bg-black">
    <%- include('partials/nav.ejs')%>

    <div class="flex justify-center items-center mt-20 ">
      <div class="p-20  bg-primary w-[80%] text-center">
        <h1 class="font-bold text-6xl mb-10 text-white"> Welcome to keyLab </h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at, expedita sapiente ut possimus sed eius incidunt voluptatum id repudiandae non mollitia cupiditate culpa, inventore accusamus nostrum beatae tenetur optio nihil quam omnis aspernatur asperiores ab adipisci! Numquam voluptas recusandae sit illum error vero. Eum maiores culpa totam odit, facere quos aliquid? Asperiores facilis, facere eligendi, dolorum iusto doloribus quam enim neque quia vitae maxime voluptas expedita architecto obcaecati quae alias veniam quasi non cupiditate! Tempore explicabo at reiciendis aliquid similique! Ex ipsam magni voluptatem numquam molestias optio voluptate aperiam praesentium ad, illum dolores quaerat delectus doloremque. Neque, possimus quaerat.</p>
    </div>
    </div>
    <h1 class="text-center text-white mt-10" style="font-size: 50px;">แบรน์ยอดนิยม</h1>
    <div class="grid md:grid-cols-2 sm:grid-cols-1 text-white text-center mt-10 pl-15 pr-15 gap-x-32 gap-y-24 align-text-bottom">
      <div class="h-[450px] text-6xl wrap flex items-end justify-center">
          <a style="position: absolute;height: 100%;width: 100%;" href=""></a>
          <h3 class="text-white ">AGAR <br><span class="text-xl">buy now</span></h3>
        <img src="/image/agar.jpg" class="img-1 zoom " >
      </div>
      <div class="h-[450px] wrap2 text-6xl flex items-end justify-center">
        <a style="position: absolute;height: 100%;width: 100%;" href=""></a>
        <h3 class="text-white ">MANTA <br><span class="text-xl">buy now</span></h3>
        <img src="/image/manta.webp" class="img-2 zoom">
      </div>
      <div class="h-[450px] text-6xl wrap flex items-end justify-center">
        <a style="position: absolute;height: 100%;width: 100%;" href=""></a>
        <h3 class="text-white ">AKKO <br><span class="text-xl">buy now</span></h3>
      <img src="/image/akko.jpg" class="img-1 zoom " >
    </div>
    <div class="h-[450px] text-6xl wrap flex items-end justify-center">
      <a style="position: absolute;height: 100%;width: 100%;" href=""></a>
      <h3 class="text-white ">KBD <br><span class="text-xl">buy now</span></h3>
    <img src="/image/kbd.jpg" class="img-1 zoom " >
  </div>
    </div>


<div class="bg-gif mt-10 text-center">
  <div class="bg-overlay z-10"></div>
    <div class="text-black text-6xl z-20">
      <h3 class="text-black">hello</h3>
    </div>
</div>


  <h3 class="text-5xl text-center text-white mt-20 ">ประเภทของสินค้า</h3>
      <div class="grid grid-cols-3 gap-15 text-white mt-10 p-15 text-center">
        <div class="h-[375px] wrap3 inline-block">
          <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
            <img src="/image/board2.webp" class="img-back text-center" >
            <img src="/image/board.webp" class="img-front" >
          </div>
          <div class="flex items-end justify-center" style="position: absolute;width: 100%;height: 100%;">
            <h3 class="text-center ">Basekit</h3>
          </div>
        </div>
        <div class="h-[375px] wrap3 inline-block">
          <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
            <img src="/image/switch.webp" class="img-back text-center" >
            <img src="/image/switch2.webp" class="img-front" >
          </div>
          <div class="flex items-end justify-center" style="position: absolute;width: 100%;height: 100%;">
            <h3 class="text-center ">Switch</h3>
          </div>
        </div>
        <div class="h-[375px] wrap3 inline-block">
          <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
            <img src="/image/keycap.jpg" class="img-back text-center" >
            <img src="/image/keycap2.webp" class="img-front" >
          </div>
          <div class="flex items-end justify-center" style="position: absolute;width: 100%;height: 100%;">
            <h3 class="text-center ">Keycap</h3>
          </div>
        </div>

      </div>
</body>
<%- include('partials/footHtml.ejs')%>