<%- include('partials/headHtml')%>

<body class="bg-primary text-white text-primary">
    <%- include('partials/nav')%>
    <h3 class="text-5xl ms-20">บัญชีผู้ใช้งาน</h3>
    <div class="grid grid-cols-4 P-10 text-center p-5">

        <div class="underlinecl text-3xl">
            <h3>อีเมล</h3>
        </div>
        <div class="underlinecl text-3xl">
            <h3>คำสั่งซื้อ</h3>
        </div>
        <div class="underlinecl text-3xl">
            <h3>ที่อยู่จัดส่ง</h3>
        </div>
        <div class="underlinecl text-3xl">
            <h3>แก้ไข</h3>
        </div>

        <div class="underlinedes">
            <h3>66070041@kmitl.ac.th</h3>
        </div>
        <div class="underlinedes">
            <h3>26sdklj</h3>
        </div>
        <div class="underlinedes">
            <h3>400/108 sadasd xacxzxczcss</h3>
        </div>
        <div class="underlinedes">
            <select class="text-black">
                <option>แก้ไข</option>
                <option>ลบข้อมูล</option>
            </select>
            <button class="bg-white text-black" style="height: 42px; width: 42px;">ยืนยัน</button>
        </div>
        <div class="underlinedes">
            <h3>66070041@kmitl.ac.th</h3>
        </div>
        <div class="underlinedes">
            <h3>26sdklj</h3>
        </div>
        <div class="underlinedes">
            <h3>400/108 sadasd xacxzxczcss</h3>
        </div>
        <div class="underlinedes">
            <select class="text-black">
                <option>แก้ไข</option>
                <option>ลบข้อมูล</option>
            </select>
            <button class="bg-white text-black" style="height: 42px; width: 42px;">ยืนยัน</button>
        </div>
        <div class="underlinedes">
            <h3>66070041@kmitl.ac.th</h3>
        </div>
        <div class="underlinedes">
            <h3>26sdklj</h3>
        </div>
        <div class="underlinedes">
            <h3>400/108 sadasd xacxzxczcss</h3>
        </div>
        <div class="underlinedes">
            <select class="text-black">
                <option>แก้ไข</option>
                <option>ลบข้อมูล</option>
            </select>
            <button class="bg-white text-black" style="height: 42px; width: 42px;">ยืนยัน</button>
        </div>
        <div class="underlinedes">
            <h3>66070041@kmitl.ac.th</h3>
        </div>
        <div class="underlinedes">
            <h3>26sdklj</h3>
        </div>
        <div class="underlinedes">
            <h3>400/108 sadasd xacxzxczcss</h3>
        </div>
        <div class="underlinedes">
            <select class="text-black">
                <option>แก้ไข</option>
                <option>ลบข้อมูล</option>
            </select>
            <button class="bg-white text-black" style="height: 42px; width: 42px;">ยืนยัน</button>
        </div>

        
    </div>
    
</body>

<%- include('partials/footHtml')%>