<%- include('partials/headHtml')%>

    <body class="bg-secondary">
        <%- include('partials/nav')%>
            <section class="my-5">
                <h1 class="text-5xl font-bold  text-center my-8 text-white">
                    คีย์บอร์ด
                </h1>
                <%- include('partials/sort')%>

                <div class=" my-5 px-8">
                    <p class="text-center text-white"> สินค้า xx รายการ </p>
                    <div class="grid grid-cols-4 gap-7 text-centermt-10 my-10 text-white">
                        <div class="h-[420px] wrap3 inline-block">
                            <a href="/buy">
                                <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
                                    <img src="/image/board2.webp" class="img-back text-center">
                                    <img src="/image/board.webp" class="img-front">
                                </div>
                                <div class="flex items-end p-10 mt-10 text-start justify-center"
                                    style="position: absolute;width: 100%;height: 100%;">
                                    <div class="mt-4 inline-block text-center">
                                        <p class="text-3xl text-brand">คีย์บอร์ด</p>
                                        <p class="text-des">ราคา 3000 บาท</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="h-[420px] wrap3 inline-block ">
                            <a href="/buy">
                                <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
                                    <img src="/image/board2.webp" class="img-back text-center">
                                    <img src="/image/board.webp" class="img-front">
                                </div>
                                <div class="flex items-end p-10 mt-10 text-start justify-center"
                                    style="position: absolute;width: 100%;height: 100%;">
                                    <div class="mt-4 inline-block text-center">
                                        <p class="text-3xl text-brand">คีย์บอร์ด</p>
                                        <p class="text-des">ราคา 3000 บาท</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="h-[420px] wrap3 inline-block ">
                            <a href="/buy">
                                <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
                                    <img src="/image/board2.webp" class="img-back text-center">
                                    <img src="/image/board.webp" class="img-front">
                                </div>
                                <div class="flex items-end p-10 mt-10 text-start justify-center"
                                    style="position: absolute;width: 100%;height: 100%;">
                                    <div class="mt-4 inline-block text-center">
                                        <p class="text-3xl text-brand">คีย์บอร์ด</p>
                                        <p class="text-des">ราคา 3000 บาท</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="h-[420px] wrap3 inline-block ">
                            <a href="/buy">
                                <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
                                    <img src="/image/board2.webp" class="img-back text-center">
                                    <img src="/image/board.webp" class="img-front">
                                </div>
                                <div class="flex items-end p-10 mt-10 text-start justify-center"
                                    style="position: absolute;width: 100%;height: 100%;">
                                    <div class="mt-4 inline-block text-center">
                                        <p class="text-3xl text-brand">คีย์บอร์ด</p>
                                        <p class="text-des">ราคา 3000 บาท</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="h-[420px] wrap3 inline-block ">
                            <a href="/buy">
                                <div class="flex justify-center" style="position: absolute;width: 100%;height: 100%;">
                                    <img src="/image/board2.webp" class="img-back text-center">
                                    <img src="/image/board.webp" class="img-front">
                                </div>
                                <div class="flex items-end p-10 mt-10 text-start justify-center"
                                    style="position: absolute;width: 100%;height: 100%;">
                                    <div class="mt-4 inline-block text-center">
                                        <p class="text-3xl text-brand">คีย์บอร์ด</p>
                                        <p class="text-des">ราคา 3000 บาท</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
    </body>
    <%- include('partials/footHtml')%>