/* npx @tailwindcss/cli -i ./src/input.css -o ./public/output.css --watch */

/* คำสั่งด้านล่างนี้ไว้รัน node พร้อมกับ tailwind ในกรณีที่ tailwind ทำงานแปลกๆ */

/*  ลงอันนี้ก่อน -> npm install concurrently --save-dev */
/* npx concurrently "npx @tailwindcss/cli -i ./src/input.css -o ./public/output.css --watch" "nodemon index.js" */


@import "tailwindcss";

@layer utilities{
    .bg-primary{
        background-color: #202020;
    }
    .bg-secondary{
        background-color: #777777;
    }
    .wrap{
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .wrap2{
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .wrap3{
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .img-1{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
        filter: brightness(0.95);
        z-index: -1;
        
    }
    .img-2{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
        filter: brightness(0.95);
        z-index: -1;
        
    }
    .wrap:hover .img-1 {
        transform: scale(1.2) ;
        filter: brightness(1.05);
    }
    .wrap2:hover .img-2 {
        transform: scale(1.1) ;
        filter: brightness(1.05);
    }
    .pop{
        transition: 0.5s;
    }
    .wrap:hover .pop{
        transform: translateY(375px);
    }
    .wrap2:hover .pop{
        transform: translateY(375px);
    }
    .manta{
        background-image: url(/image/manta.jpg);
        background-size: cover;        

    }
    .img-front{
        position: absolute;
        height: 70%;
        width: 70%;
        object-fit: cover;
        filter: brightness(0.9);
        transition: 0.5s ease-in-out;
        border-radius: 15px;
    }
    .img-back{
        position: absolute;
        height: 70%;
        width: 70%;
        object-fit: cover;
        border-radius: 15px;
    }
    .wrap3:hover .img-front {
        opacity: 0;
    }
    .bg-gif{
        height: 85vh;
        position: relative;
        background-image: url(/image/gif-background.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(12, 1, 1, 0.4);
        color: white;
    }
    .text-des{
        font-size: 15px;
    }
    .text-bold{
    font-weight: 700;
    }
    .text-brand{
        font-family: "Monomakh", serif;        
    }
    #bg-gif1{
        height: 65vh;
        position: relative;
        background-image: url(/image/gif-background2.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .btn-1{
        height: 35px;
        width: 100px;
        background-color: #777777;
        cursor: pointer;
        
    }
    .underlinecl{
        border-bottom:solid 1px ;
        margin-bottom: 30px;
    }
    .underlinedes{
        border-bottom:solid 1px ;
        margin-bottom: 30px;
        border-color: #292929;
    }
    .upperline{
        border-top:solid 1px ;
        border-color: white;
    }
}